@font-face {
	font-family: Edu QLD Beginner;
	src: url(../fonts/EduQLDBeginner-Regular.ttf);
}
@font-face {
	font-family: Splash;
	src: url(../fonts/Splash-Regular.ttf);
}
@font-face {
	font-family: The Nautigal;
	src: url(../fonts/TheNautigal-Regular.ttf);
}
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #EEEEEE;
}

a{
	text-decoration: none;
	font-family: 'Piazzolla';
	letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Edu QLD Beginner', cursive;
	font-weight: normal;
	letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 40px;
	margin-top: 125px;
}

h3{
	font-size: 18px;
	
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}

.container {
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
}
.column--50{
	width: 100%;
}
.column--50-25{
	width: 24.8%;
	padding: 20px;
	
}


/**************menu********/
header{
	display: flex;
	height: 65px;
	justify-content:space-between;
	align-items: center;
	padding: 10px;
}
.main-header{
    width: 100%;
    padding: 10px;
    margin: auto;
}
.letra{
	font-family: 'Splash', cursive;
	color: #fffc39;
	z-index: 1000;
}

.logo{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1000;
	
}

.logo img{
	height: 70px;
	margin-right: 10px;
	position: relative;
	margin-top: 20px;
	z-index: 1000;
}

nav a{
	font-weight: 600;
	padding-right: 10px;
	color: #fffc39;
	position: relative;
	font-size: 1.4em;
}
nav a:hover{
	color: #ffffff;
}
.banner{
    margin-top: -70px;
	position: relative;
    z-index: -1000;
    width: 100%;
   
}
.banner:before{
    content: '';
    position: absolute;
     width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    transform:  translateY(-0.1%);
}
.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}

/*************** main**************/
.group--color .conteiner{
    background: #fffc39;
    color: rgb(9, 9, 9);
    padding: 10px;
    text-align: center;
    font-weight: 100;
	height: 200px;

}
.cita{
	font-size: 3em;
	transform:  translateY(-90%);
	color: black;
 }
main h2.main__title{
    margin: 1px;
    font-size: 4em;
    font-family: 'The Nautigal';
	text-align: center;
	margin-top: -16px;
   
}
 

.main__title{
    margin: 15px;
    font-size: 3em;
    font-family: 'The Nautigal';
    font-weight: 100;
}
.column__title{
    font-size: 2.3em;
    font-family: 'The Nautigal', cursive;
	text-align: center;
}
.main__about__description .column:nth-child(2) {
    padding: 10px;
    font-size: 1.8em; 
}
.main__about__description .column:nth-child(1) {
    padding: 10px;
    font-size: 1.8em;
}

main p.column__txt{
	text-align: center;
	font-size: 1em;
}
.img{
	width: 100%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
}
body .marquee{
	transform:  translateX(12%);
}
.marquee{
	width: 80%;
	background-color: #252627;
	white-space: nowrap;
	
}

.marquee div{
		
	font-size: 4em;
	font-family: 'The Nautigal', cursive;
	color: #fffc39;
	animation: animate 20s linear infinite;
	padding-left: -100% ;
	display: inline-block;
}
@keyframes animate{
	 100%{
		transform:  translate(-100%, 0);
	 }
}
.main-footer{
    background: #252627;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
}
.main-footer h2{
	text-align: left;
}
main h1.subtitulo{
	text-align: center;
	font-size: 50px;
	margin-top: 100px;

}

main  h3.cita{
	text-align: center;
	font-size: 30px;
	margin-top: 100px;
}

main table{
	background: #252627;
	margin-top: 100px;
}

main table tr th h2{
	color: white;
	text-align: center;
	font-size: 30px;
}
main table tr td h3{
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}


.service{
	margin-top: 100px;
	margin-bottom: 100px;
}


/*************galeria**********/

.gallery{
	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 98%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px 0;
	overflow: hidden;

}
.gallery img{
	width: 100%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
}

/**************pre-footer************/

.subtitulo1{

	text-align: center;
	width: 100%;
	height: 100px;
	background: #252627;
	align-items: center;

}
.subtitulo1 h2{
	text-align: center;
	color: white;
	align-items: center;
	
}

main table.pre-footer{
	width: 100%;
	text-align: center;
	background: #252627;
	margin-top: 0px;
	
}

main table.pre-footer tr td h3{
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	
}
main table.pre-footer img{
	width: 90%;
	height: 90%;
}
/*********estilos responsive************/
@media screen and (min-width:200px) {
	h2{
		margin-top: 100px;
	
	.cita{
		
		transform:  translateY(-120%);
		
	 }
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -6px;
	   
	}
    .column--50-25{
		width: 100%;
		padding: 30px;
		
	}
}
@media screen and (min-width:480px) {
	h2{
		margin-top: 70px;
	}
	.column--50{
		width: 50%;
	}
	.cita{
		
		transform:  translateY(-120%);
		
	 }
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -6px;
	   
	}
}
@media screen and (min-width:540px) {
	h2{
		margin-top: 50px;
		font-size: 40px;
	}
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -6px;
	   
	}
}
@media screen and (min-width:640px) {
	h2{
		margin-top: 50px;
		font-size: 40px;
	}
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -6px;
	   
	}
}
@media screen and (min-width:700px) {
	h2{
		margin-top: 70px;
		font-size: 45px;
	}
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -6px;
	   
	}	
}
@media screen and (min-width:768px){
	h2{
		margin-top: 110px;
		font-size: 60px;
	}
	.column--50{
		width: 50%;
	}
	.cita{
		
		transform:  translateY(-120%);
		
	 }
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -15px;
	   
	}
}
@media screen and (min-width:798px){
	h2{
		margin-top: 140px;
		font-size: 70px;
	}
	
	.cita{
		
		transform:  translateY(-120%);
		
	 }
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -15px;
	   
	}
	.column--50-25{
		width: 50%;
		margin: -1%;
		padding: 50px;
		
	}
	
}
@media screen and (min-width:1000px){
	h2{
		margin-top: 140px;
		font-size: 70px;
	}
	
}
@media screen and (min-width:1024px){
	h2{
		margin-top: 160px;
		font-size: 80px;
	}
	.column--50{
		width: 50%;
	}
	.cita{
		
		transform:  translateY(-220%);
		
	 }
	main h2.main__title{
		margin: 1px;
		font-size: 5em;
		margin-top: -5px;
	   
	}
	
}
@media screen and (min-width:1224px){
	h2{
		margin-top: 60px;
		font-size: 70px;
	}
}